<nav class="navbar navbar-expand-md bg-secondary " style="background-color: rgba(28, 108, 173, 0.644);">
    <div class="container-fluid" style="background-color: rgba(28, 108, 173, 0.644);">
        <a href="principal" class="navbar-brand navbar-dark col-6 align-content-center"
            style="font-size: 24px; font-weight: bold; color: #333; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); margin: 10px 0;">
            CodeXtract Master
        </a>
   <!--     <a href="processamento" class="nav-link text-light text-decoration-none px-3">
            <button>Carregar Tarefas</button>
        </a>  -->

      <!--  <a href="login" class="nav-link text-light text-decoration-none px-3">
            <button>Sair</button>
        </a>

        <input type="text" class="form-control" placeholder="Usuário"
        id="inputUsuario" name="inputUsuario" readonly
        aria-label="Usuário" aria-describedby="user">
    </input>  

    <div style="text-align: left;">
        <input type="text" class="form-control" placeholder="Usuário"
        id="inputUsuario" name="inputUsuario" readonly
        aria-label="Usuário" aria-describedby="user" value="Nome do Usuário">
    </div>   


        <div class="d-flex align-items-center">
        <section class="d-grid justify-content-md-end">
            <div class="px-2">
                <a href="login">                
                <button class ="btn btn-success" id="btnSair">Sair</button>
                </a>
            </div>

        </section>
        </div>   --> 

        <div class="d-flex align-items-center">
            <section class="d-grid justify-content-md-end ml-auto">
                <div class="px-2">
                    <input type="text" class="form-control" style="max-width: 200px;"  id="inputUsuario" name="inputUsuario" aria-label="Usuário"
                    aria-describedby="user" value="nome" readonly>
                
            
           </div>


            </section>
            <section class="px-2">
                <a href="login">                
                    <button class="btn btn-success" id="btnSair">Sair</button>
                </a>
            </section>
        </div>

        <!--<input type="text" name="nome" id="nome" value="%= nomeDoServidor %"> -->

       
    

    </div>
</nav>