<nav class="navbar navbar-expand-md bg-secondary " style="background-color: rgb(55, 218, 255);">
    <div class="container-fluid" style="background-color:  rgb(55, 218, 255);">
        
        <a href="principal" class="navbar-brand navbar-dark col-6 align-content-center"
            style="font-size: 24px; font-weight: bold; color: #333; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); margin: 10px 0;">
            CodeXtract Master
        </a>

        <div class="d-flex align-items-center">
            <section class="d-grid justify-content-md-end ml-auto">
            </section>
            <section class="px-2">
                <a href="login">
                    <button class="btn btn-success" id="btnSair">Sair</button>
                </a>
            </section>
        </div>
    </div>
</nav>

<script> $(document).ready(function () {
    $("#btnSair").on("click", function () {
        $.ajax({
            url: "/logout",
            type: "POST",
            success: function () {
                // Redireciona para a página de login após o logout
                window.location.href = "/login";
            },
            error: function (error) {
                console.error("Erro ao fazer logout:", error);
            }
        });

        localStorage.clear();
    });
}); </script>
