<footer>
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom px-5">
        <!--<div class="me-5 d-none d-lg-block px-5">

            <span><a href="/principal">Voltar</a></span>

        </div>
    -->
        <div class="px-5">
            <!--               <button class="btn btn-success">Processar</button>                 -->
        </div>

    </section>
</footer>
<!--
<script>
    const campos = document.querySelectorAll('.form-control');
    const areas = document.getElementById('fileUpload');
    const spans = document.querySelectorAll('span-required-view');

    function caracteresValidate() {
        if (campos[0].value.length == 0) {
            console.log('NAO VALIDADO');
        }
        else {
            console.log('VALIDADO');
        }
    }
    function fileUpdateValidate() {
        if (areas[0].value.length == 0) {
            console.log('NÃO VALIDADO');
        } else {
            console.log('VALIDADO');
        }
    }

</script>
-->

<footer class="fixed-bottom">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="#">Grupo ESC</a>
    </div>
</footer>