<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/5c7c6d79df.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <div class="container-fluid">
            <a href="" class="navbar-brand navbar-dark col-6 align-content-center">ESC</a>
            <button class="navbar-toggler">
                <i class="navbar-toggler-icon"></i>
            </button>
            <div class="navbar-collapse collapse col-6">
                <ul class="navbar-nav me-auto">
                    <li>
                        <div class="dropdown mx-3">
                            <a href="#" class="dropdown-toggle text-light text-decoration-none"
                                data-bs-toggle="dropdown">
                                Turmas cadastradas
                            </a>
                            <ul class="dropdown-menu dropdown-menu-md-end dropdown-menu-secondary">
                                <li><a href="#" class="dropdown-item ">Turma1</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a href="#" class="dropdown-item">Turma2</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <div class="dropdown mx-3   ">
                            <a href="#" class="dropdown-toggle text-light text-decoration-none"
                                data-bs-toggle="dropdown">
                                Tarefas 
                            </a>
                            <ul class="dropdown-menu dropdown-menu-md-end dropdown-menu-secondary">
                                <li><a href="#" class="dropdown-item">Tarefa 1</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a href="#" class="dropdown-item">Tarefa 2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="displayProcess.html" class="nav-link text-light text-decoration-none px-3">Carregar Tarefas</a>
                    </li>
                </ul>
               
            </div>
        </div>

    </nav>
    <footer class="text-center text-lg-start bg-white text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span><a href="./telaLogin.html">Sair</a></span>
            </div>

            <div>
                <a href="#" class="me-4 link-secondary align-content-right">Quem somos</a>
            </div>          

        </section>
        <div class="col-md-3 col-lg-3 col-xl mx-auto mb-md-0 mb-4 aling-content-right">
            <h6 class="text-uppercase fm-bold mb-4">Contato</h6>
            <p><i class="fa-solid fa-envelope me-3 text-secondary"></i>
            caio@teste.com
        </p>
        <p><i class="fa-solid fa-phone me-3 text-secondary"></i>
            (89) 994223380
        </p>
        </div>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#">Grupo ESC</a>
          </div>
    </footer>
    <script>
        
    </script>
</body>

</html>