<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de processamento</title>
    <link rel="stylesheet" href="./css/layoutDisplayProcess.css">


    <script src="https://kit.fontawesome.com/5c7c6d79df.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</head>

<body class="bg-body-secondary">
    
    <%- include('menu') %> <!-- Inclui o menu -->

    <!--Parte de selecionar os termos de procura e a parte de escolher os arquivos-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Caracaterísticas do código-fonte" id="inputCaracteristicas" oninput="caracteresValidate()"
                        aria-label="Caracaterísticas do código-fonte" aria-describedby="button-addon2">
                    <button class="btn btn-outline-success  " type="button" id="button-addon2">Procurar</button>
                </div>
                <span class="span-required"><b>*</b>Use vírgulas para separar os termos</span>
                <span class="span-required-view">Digite pelo menos uma característica</span>
            </div>
            <div class="col-md-6 py-5">
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile" aria-describedby="inputGroupFileAddon04"
                        aria-label="Upload">
                    <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon">Inserir</button>
                </div>
                <span class="span-required"><b>*</b>Você pode adicionar mais de um arquivo</span>
            </div>
        </div>
    </div>









    <!--Duas áreas de texto, uma que mostra a lista de arquivos adicionadas e outra que ao clicar, mostra breviamente o código-fonte selecionado-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Lista de Arquivos carregados</h6>
                <div class="input-group ">
                    <textarea name="fileUpload" id="fileUpload" cols="30" rows="10"
                        class="form-control bg-secondary" oninput="fileUpdateValidate()"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <h6>Tarefa de código-fonte selecionada</h6>
                <div class="input-group">
                    <textarea name="fileShow" id="fileShow" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>






    <!--Rodapé que contém os botões de voltar ao main Menu e um botão que irá fazer todo o processamento de extração de caracerísticas  -->
    <footer>
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom px-5">
            <div class="me-5 d-none d-lg-block px-5">
                <span><a href="./menuPrincipal.html">Voltar</a></span>
            </div>

            <div class="px-5">
                <button class="btn btn-success">Processar</button>
            </div>          

        </section>
    </footer>






    

    <script>
        const campos = document.querySelectorAll('.form-control');
        const areas = document.getElementById('fileUpload');
        const spans = document.querySelectorAll('span-required-view');

        function caracteresValidate() {
            if(campos[0].value.length == 0) {
                console.log('NAO VALIDADO');
            }
            else {
                console.log('VALIDADO');
            }
        }
        function fileUpdateValidate() {
            if (areas[0].value.length ==0) {
                console.log('NÃO VALIDADO');
            }else {
                console.log('VALIDADO');
            }
        }

    </script>

    

</body>

</html>