.span-required {
    display: block;
    color: #e63636;
    font-size: 10px;
}
.span-required-view {
    color: #e63636;
    display: none;
}
.bg-info {
    background-color: rgb(113, 124, 238) !important;
}
#fileUpload {
    color: white;
}
#divFim{
    display: fixed;
	justify-content: center;
	align-items: center;
}
#fileShow{
    color: white;
}
